* {
    box-sizing: border-box;
}
html,body{
    font-size: 18px;
    background-color: #2e2e2e;
    text-align: center; 
}
 .container{
    width: 50%;
    position: relative;
    top: 50px;
    color: #fff;
    margin:auto;
    text-align: center;
    
}
.container .title{
    font-family: monospace;
} 

.counter{
    text-align: center;
    position: relative;
    top: 25px; 
    width: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px 0px 25px 0px;
    background-color: #fff;
    margin: auto;
    color: #2e2e2e; 
    border-radius: 25px;
}  
